<!-- <div class="row">
    <div class="col-md-12">
        <p>{{nombre}} *</p>
    </div>
</div> -->
<br>
<p>Destino componente</p>
    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span>
                <h4>{{posicion}}</h4>
            </span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Servicios</p>
            <div>
                <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
                    <i class="material-icons md-18">thumb_up</i>
                </a>
                &nbsp;
                <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
                    <i class="material-icons md-18">thumb_down</i>
                </a>
                &nbsp;
                Votos: {{destino.votes}}
            </div>
            <ul>
              <li *ngFor="let serv of destino.servicios">
                <!-- expresion regular  <span>{{serv}}</span> -->
                <!-- uso de directiva switch -->
                <span [ngSwitch]="serv">
                  <i *ngSwitchCase="'desayuno'" style="color:red">{{serv}}</i>
                  <i *ngSwitchDefault>{{serv}}</i>
                </span>
              </li>
            </ul>
                <!-- agregando evento para evaluar accion -->
            <a href="#" (click)="ir()" class="btn btn-primary">Ir</a>
                <!-- evaluando si el elemento esta seleccionado y definir mensaje -->
            <!-- <span [style.display]="destino.isSelected() ? '' : 'none'" >-- Preferido --</span> -->
            <!-- evaluando si el elemento esta seleccionado y definir mensaje -->
            <!-- usando directica ngIf -->
            <span *ngIf="destino.isSelected()" >
              <!-- directiva  -->
              <span ngNonBindable>-Preferido-</span>
            </span>
            <a class="btn btn-secondary" [routerLink]="['/destino']">Detalle</a>
        </div>
    </div>
