<form   
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)" >
    <div class="form-group">
        <input hidden type="checkbox" value="false" class="form-control" id="estado" 
         [formControl]="fg.controls['nombre']"
         placeholder="Ingresar nombre...">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" 
         [formControl]="fg.controls['nombre']"
         placeholder="Ingresar nombre...">
         <ul>
             <li *ngFor="let r of searchResults;">{{r}}</li>
         </ul>
         <!-- tipos de validaciones -->
         <div *ngIf="fg.controls['nombre'].hasError('required')" class="alert alert-danger" role="alert">
			nombre es obligatorio!
		</div>
		<div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" class="alert alert-danger" role="alert">
			el nombre es invalido!
		</div>
		<div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" class="alert alert-danger" role="alert">
			el nombre debe tener al menos {{ minLongitud }} caracteres!
        </div>
        <!-- fin validaciones -->
    </div>
    <div class="form-group">
        <label for="Imagen	Url">Imagen Url</label>
        <input type="url" class="form-control" id="imagenUrl"
        [formControl]="fg.controls['url']"
        placeholder="Ingresar	url...">
    </div>
    <!-- (click)="guardar(nombre.value, url.value)" -->
    <button type="submit" *ngIf="fg.valid" class="btn btn-primary">Guardar!</button>
</form>