<p>Lista Destino</p>
<div class="container	content">
    <div class="row">
        <div class="col-md-12 offset-md-1">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Destinos</h3>
                </div>
                <div class="card-body">
                    <app-form-detino-viaje (onItemAdded)="agregado($event)"></app-form-detino-viaje>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <div class="row offset-md-1">
        <app-destinos class="col-md-4"
        *ngFor="let x of destinosApiClient.getAll(); let i = index"
        [destino]="x"
        [posicion]="i+1"
        (clicked) = "elegido(x)"
        ></app-destinos>
    </div>
    <hr class="mb-4">
    <div class="row offset-md-1">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">{{u}}</li>
        </ul>
    </div>
</div>
